{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "ie": 11,
          "node": "current",
          "browsers": ["last 2 major versions and not dead"]
        },
        "modules": false,
        "loose": true
      }
    ],
    "@babel/react"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "cjs": {
      "plugins": ["@babel/transform-modules-commonjs"]
    },
    "test": {
      "plugins": ["@babel/transform-modules-commonjs"]
    }
  }
}
